.wrapper {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
  max-width: 1536px;
  margin: 0 auto;
  border-bottom: 1px solid #00000014;
  @media (max-width: 450px) {
    padding-top: 40px;
    padding-bottom: 32px;
    border-bottom: none;
    margin-left: -16px;
    width: calc(100% + 16px);
    
  }
}

.tabs {
  display: flex;
  gap: 40px;
  margin-bottom: 8px;
  border-bottom: 1px solid #6e6d67b3;
}

.tab {
  background: none;
  border: none;
  font-size: 16px;
  color: #6e6d67b3;
  padding-bottom: 15px;
  cursor: pointer;
  position: relative;
  transition: color 0.25s ease;

  &:hover:not(.active) {
    color: #297230;
  }

  @media (max-width: 900px) {
    font-size: 14px;
  }
  @media (max-width: 450px) {
    padding-bottom: 0px;
  }

  &.active {
    color: black;
    font-weight: 500;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: black;
      @media (max-width: 450px) {
        height: 0;
      }
    }
  }
}
.tabMobile {
  color: black;
  font-size: 13px;
  font-weight: 600;

  @media (max-width: 650px) {
    padding: 0 16px;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: visible !important;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.oldPrice {
  font-size: 20px;
  color: #6e6d67b3;
  text-decoration: line-through;
}

.discount {
  background-color: #297230;
  color: white;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 500;
}
.activeContent {
  margin-top: 24px;
}
