.card {
  display: flex;
  align-items: end;
  margin-bottom: 40px;
  justify-content: space-between;
  gap: 32px;
  @media (max-width: 700px) {
    align-items: normal;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
  .readMore {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 40px;
    img {
      width: 42px;
      height: 42px;
    }
  }

  .topWrapper {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 40px;
    max-width: 1070px;
    min-height: 273px;
    @media (max-width: 700px) {
      height: auto;
      flex-direction: column;
      padding-bottom: 0px;
    }
    &:last-child {
      border-bottom: none;
    }

    &.reverse {
      flex-direction: row-reverse;
      @media (max-width: 700px) {
        height: auto;
        flex-direction: column;
      }
    }
    .imageWrapper {
      flex: 1;
      @media (max-width: 700px) {
        width: 100%;
      }
      img {
        width: 100%;
        object-fit: fill;
        height: 100%;
        @media (max-width: 700px) {
          width: 100%;
        }
      }
    }

    .content {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .header {
        .date {
          font-size: 14px;
          color: #6e6d67;
          display: block;
          margin-bottom: 6px;
          @media (max-width: 450px) {
            font-size: 13px;
          }
        }

        .title {
          font-size: 32px;
          font-weight: 300;
          margin-bottom: 24px;
          text-transform: uppercase;
          @media (max-width: 450px) {
            font-size: 20px;
          }
        }
      }
      .desc {
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media (max-width: 1260px) {
          -webkit-line-clamp: 4;
        }
        @media (max-width: 700px) {
          -webkit-line-clamp: 5;
        }
        @media (max-width: 450px) {
          font-size: 13px;
        }
      }
    }
  }
}
