
.titleTxt {
  font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  @media (max-width: 450px) {
    font-size: 20px;
  }}

.paragraph {
  font-size: 16px;
  @media (max-width: 450px) {
    font-size: 13px;
  }
}

.imageWrapper {
  border-radius: 12px;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 450px) {
    margin-top: 0px;
  }
  img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
}