.button {
  width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 9999px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  &:hover {
    p {
      transform: scale(1.1);
      transition: transform 0.5s ease;
    }
  }

  &.success {
    background: #297230;
    &:hover {
      background: #3e9642;
    }
  }

  &.error {
    &:hover {
      background: #b71c1c;
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
