@use '@/style/variables.scss' as *;

.articlesContainer {
  min-height: 100vh;
  background-color: $white;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 1536px;
  margin: 0 auto;

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 64px;

    @media (max-width: 450px) {
      margin-bottom: 16px;
    }

    .title {
      font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
      font-weight: 300;
      font-size: 64px;
      text-transform: uppercase;

      @media (max-width: 450px) {
        font-size: 24px;
      }
    }

    .desc {
      color: #297230;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;

      @media (max-width: 450px) {
        font-size: 15px;
      }
    }
  }

  .articlesWrapper {
    margin-bottom: 249px;
    margin-top: 100px;
    @media (max-width: 700px) {
      margin-bottom: 140px;
      margin-top: 40px;
    }
  }
}
