@use '@/style/variables.scss' as *;

.orderContainer {
  padding: 0 32px;
  min-height: 100vh;
  background-color: $white;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  display: flex;
  max-width: 1536px;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .orderContainer {
    padding: 0 12px;
  }
}
