@use '@/style/variables.scss' as *;

.orderPage {
  @media (min-width: 957px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > *:first-child {
      flex-shrink: 0;
    }
  }
}

.orderContainer {
  padding: 0;
  min-height: 100vh;
  background-color: $white;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  display: flex;
  max-width: 1536px;
  margin: 0 auto;

  @media (min-width: 957px) {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
}

@media (max-width: 450px) {
  .orderContainer {
    padding: 0 12px;
  }
}
