.wrapper {
  font-family: Arial, sans-serif;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  @media (max-width: 450px) {
    font-size: 13px;
    font-weight: 600;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: end;
  font-size: 16px;
  margin-bottom: 8px;
  width: 100%;
  gap: 6px;
}

.label {
  flex-shrink: 0;
  color: #6e6d67;
  font-size: 16px;
  white-space: nowrap;
  @media (max-width: 450px) {
    font-size: 13px;
  }
}

.value {
  flex-shrink: 0;
  font-size: 16px;
  color: black;
  white-space: nowrap;
  @media (max-width: 450px) {
    font-size: 13px;
  }
}

/* «точки» между label и value */
.dots {
  flex: 1;
  min-width: 0;
  border-bottom: 1px dotted #6e6d67;
  margin: 0;
  align-self: flex-end;
  height: 1px;
}
