@use '@/style/variables.scss' as *;

/* Как .faceContainer на странице category/:slug */
.reviewsPage {
  padding: 24px 32px 0;
  min-height: 100vh;
  background-color: $white;
  overflow-x: clip;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 1536px;
  margin: 0 auto;

  @media (max-width: $viewport-mobile-max) {
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    padding-bottom: 120px;
  }
}
