.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid #0000001a;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background 0.2s ease,
    border-color 0.2s ease;
}

.check {
  stroke: white;
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

/* когда чекбокс отмечен */
.input:checked + .box {
  background: #008000; /* зелёный фон */
}

.input:checked + .box .check {
  opacity: 1;
  transform: scale(1);
}
