.etapsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 118px;
  margin-bottom: 40px; // Отступ до карточек на странице товара
  padding-left: 0;
  padding-right: 0;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 450px) {
    margin-top: 52px;
    margin-bottom: 20px;
  }
  .etaps {
    display: flex;
    align-items: start;
    gap: 24px;
    @media (max-width: 450px) {
      gap: 8px;
    }

    .etap {
      display: flex;
      align-items: center;
      gap: 24px;
      cursor: pointer;
      @media (max-width: 450px) {
        gap: 12px;
      }
      @media (max-width: 400px) {
        gap: 6px;
      }
      .etapTextWrapper {
        .etapTitle {
          font-size: 16px;
          text-transform: uppercase;
          font-size: 32px;
          font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
          font-weight: 300;
          color: #6e6d67cc;
          @media (max-width: 956px) {
            font-size: 24px;
          }
          @media (max-width: 570px) {
            font-size: 20px;
          }
          @media (max-width: 450px) {
            font-size: 15px;
          }
        }
        .etapName {
          color: #6e6d67cc;
          font-family: 300;
          font-size: 16px;
          @media (max-width: 956px) {
            font-size: 14px;
          }
          @media (max-width: 450px) {
            font-size: 13px;
          }
        }
      }
    }
    .etapActive {
      display: flex;
      align-items: center;
      gap: 24px;
      cursor: pointer;
      @media (max-width: 450px) {
        gap: 12px;
      }
      @media (max-width: 400px) {
        gap: 6px;
      }

      .etapTextWrapper {
        .etapTitle {
          font-size: 16px;
          text-transform: uppercase;
          font-size: 32px;
          font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
          font-weight: 300;
          color: black;
          @media (max-width: 956px) {
            font-size: 24px;
          }
          @media (max-width: 570px) {
            font-size: 20px;
          }
          @media (max-width: 450px) {
            font-size: 16px;
          }
        }
        .etapName {
          color: black;
          font-family: 300;
          font-size: 16px;
          @media (max-width: 956px) {
            font-size: 14px;
          }
          @media (max-width: 450px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
