.right {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #F1EFE6;
  padding: 26px;
  margin: auto;

  @media (max-width: 940px) {
    padding: 26px 10px;
  }

  @media (max-width: 720px) {
    display: none;
  }

  .centerImageContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 35px;
    left: -100px;

    img {
      width: 188px;
      height: 216px;
      display: block;
      object-fit: cover;
    }

    button {
      width: 188px;
      height: 40px;
      border: 1px solid #297230;
      background-color: white;
      color: #297230;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        background-color: #297230;
        color: white;
      }
    }

    @media (max-width: 1024px) {
      img {
        width: 188px;
        height: 216px;
      }
    }

    @media (max-width: 940px) {
      img {
        width: 188px;
        height: 216px;
      }
    }

    @media (max-width: 840px) {
      img {
        max-width: 220px;
      }
    }

    @media (max-width: 750px) {
      img {
        max-width: 200px;
      }
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    right: 26px;
    top: 26px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
  }

  .rightWraeer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;

    .imgWrapper {
      position: relative;
      width: 432px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      :global(.sizeRow) {
        display: none !important;
      }

      .lineTo {
        position: absolute;
        width: 142px;
        left: -142px;
        bottom: 230px;

        @media (max-width: 1024px) {
          width: 120px;
          left: -120px;
          bottom: 250px;
        }

        @media (max-width: 940px) {
          width: 100px;
          left: -100px;
          bottom: 170px;
        }

        @media (max-width: 840px) {
          width: 100px;
          left: -100px;
          bottom: 110px;
        }

        @media (max-width: 750px) {
          width: 90px;
          left: -90px;
        }
      }

      .textTo {
        font-family: 'Bimbo', 'Avenir Next', sans-serif;
        font-size: 24px;
        color: #297230;
        position: absolute;
        width: 340px;
        left: -200px;
        top: -80px;
        transform: rotate(-10.45deg);

        @media (max-width: 1024px) {
          top: -70px;
        }

        @media (max-width: 940px) {
          top: -60px;
        }
      }

      @media (max-width: 940px) {
        width: 332px;
      }

      @media (max-width: 840px) {
        width: 250px;
      }
    }
  }
}
