.step {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 280px;
  height: 320px;
  border-radius: 0;
  background-color: #fff;
  transition:
    width 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    height 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease,
    transform 0.4s ease;
  //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transform-origin: center top;
  flex-shrink: 0;

  @media (max-width: 768px) {
    min-width: 280px;
    width: 280px;
  }

  &:hover {
    width: 500px; /* карточка становится шире */
    height: 640px; /* карточка выше */
    //box-shadow: 0 16px 45px rgba(0, 0, 0, 0.18);
    z-index: 10;
    
    @media (max-width: 768px) {
      width: 280px;
      height: 320px;
    }
  }

  .stepWrapper {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 0;
    transition: height 0.6s cubic-bezier(0.22, 1, 0.36, 1);

    .stepEtap {
      position: absolute;
      top: 0;
      left: 0;
      height: 43px;
      background: #297230;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Avenir Next', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      z-index: 2;
    }

    .stepImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius:  0;
      transition:
        transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
        width 0.6s cubic-bezier(0.22, 1, 0.36, 1),
        height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
  }

  &:hover .stepWrapper {
    height: 480px;

    .stepImage {
      width: 480px;
      height: 480px;
      transform: scale(1.03);
      margin: 0 auto;
    }
  }

  .textContent {
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 0.5s ease 0.25s,
      transform 0.6s ease 0.25s;
    padding: 24px 20px 28px 0px;
    background-color: #fff;
    border-radius: 0 0 12px 12px;

    .textTitle {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 8px;
      color: #000;
    }

    .textDesc {
      font-size: 15px;
      font-weight: 400;
      color: #444;
      line-height: 1.6;
    }
  }

  &:hover .textContent {
    opacity: 1;
    transform: translateY(0);
  }

  &.active {
    width: 500px; /* карточка становится шире */
    height: 640px; /* карточка выше */
    z-index: 10;

    .stepWrapper {
      height: 480px;

      .stepImage {
        width: 480px;
        height: 480px;
        transform: scale(1.03);
        margin: 0 auto;
      }
    }

    .textContent {
      opacity: 1;
      transform: translateY(0);
    }

    @media (max-width: 768px) {
      width: 500px;
      height: 640px;
    }
  }
}

/* контейнер карточек */
.stepsGrid {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  position: relative;
}
