// Colors
$green-297: #297230;

.spinnerContainer{
  position: sticky;
  top: 0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(256, 256, 256, 0.5);
}

.spinner {
  opacity: 1;
  z-index: 2000;
  width: 50px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  background: $green-297;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s5 1s infinite;
}
@keyframes s5 {to{transform: rotate(.5turn)}}