@use '@/style/variables.scss' as *;

.catalogContainer {
  padding: 0 32px;
  min-height: 100vh;
  background-color: $white;
  overflow-x: hidden;
  padding-bottom: 32px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  .title {
    font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 64px;
    margin-bottom: 64px;
    text-transform: uppercase;
    @media (max-width: 450px) {
      font-size: 32px;
      margin-top: 20px;
    }
  }
  .elipseWrapper {
    position: relative;

    display: flex;
    height: 476px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    .elipsImage {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .kremgroup {
      width: 230px;

      z-index: 22;
    }
    .name {
      position: absolute;
      bottom: -44px;
      left: 0;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 450px) {
  .catalogContainer {
    padding: 0 12px;
  }
}
