@use '@/style/variables.scss' as *;

.preHeaderTxt {
  width: 100%;
  background-color: black;
  color: #fffcf2;
  height: 27px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  // Slide Down анимация с задержкой (появляется последним)
  opacity: 0;
  transform: translateY(-100%);
  animation: slideDown 0.5s ease-out 0.3s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.homeContainer {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 0 0 32px;
  background-color: $white;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@media (max-width: 450px) {
  .homeContainer {
    padding: 0 0 0 12px;
  }
}
