@use '@/style/variables.scss' as *;

.preHeaderTxt {
  width: 100%;
  background-color: black;
  color: #fffcf2;
  height: 27px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  padding: 0 0 0 32px;
  background-color: $white;
  overflow-x: hidden;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@media (max-width: 450px) {
  .homeContainer {
    padding: 0 0 0 12px;
  }
}
