.layout {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  @media (max-width: 1024px) {
    padding: 0;
  }

  @media (max-width: 600px) {
    padding: 0;
  }
  
  @media (max-width: 450px) {
    padding: 0;
  }
}
