.drawer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: space-between;
  padding: 20px 24px;
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  .contentWrapper {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 48px;
      .title {
        font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .closeTxt {
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .listWrapper {
      .commentCart {
        .imgNameWrapper {
          display: flex;
          align-items: start;
          gap: 16px;
          .imageWrapper {
            display: flex;
            width: 78px;
            height: 78px;
            background-color: #f6f5ef;
            .image {
              margin: auto;
              width: 58px;
              height: 58px;
            }
          }

          .nameWrapper {
            .title {
              font-size: 16px;
              font-weight: 600;
            }
            .size {
              font-size: 14px;
              font-weight: 400;
              color: #6e6d67;
            }
          }
        }
        .rateWrapper {
          margin-top: 24px;
          display: flex;
          gap: 4px;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .inputWrapper {
          margin-top: 32px;
        }
        .addPhotoWrapper {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: 24px;
          .imagesWrapper {
            display: flex;
            justify-content: space-between;
            img {
              width: 122px;
            }
          }
          .addPhotoTxt {
            font-size: 15px;
            font-weight: 500;
          }
          .descTxt {
            font-size: 14px;
            font-weight: 400;
            color: #6e6d67;
          }
        }
      }
    }
  }

  .addWrapper {
    position: fixed;
    bottom: 0px;
    height: 80px;
    display: flex;
    align-items: center;
    width: calc(100% - 48px);
    background-color: white;
    @media (max-width: 552px) {
      left: 12px;

      width: calc(100% - 24px);
    }
    .addComment {
      cursor: pointer;
      width: 100%;
      height: 40px;
      border-radius: 50px;
      background-color: black;
      color: white;
      border: none;
      font-size: 15px;
      font-weight: 500;
      &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
      }
    }
  }
}

.open {
  transform: translateX(0);
}
