// ---------- Переменные ----------
$color-primary: #3d83f6;
$color-text: #6e6d67;
$font-base: 15px;
$transition-fast: 0.2s ease;
$color-border: #6e6d6799;
$color-border-hover: #91918d99;

// ---------- Миксины ----------
@mixin link-hover {
  cursor: pointer;
  text-decoration: underline;
}

// ---------- Компонент ----------
.signInContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 12px;

  @media (max-width: 648px) {
    align-items: start;
  }

  .signInWrapper {
    width: 452px;
    padding: 16px 0;

    @media (max-width: 648px) {
      padding: 18px;
    }

    .imageWrapper {
      width: 100%;

      @media (max-width: 648px) {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        width: 100%;
      }

      @media (max-width: 450px) {
        text-align: center;
      }

      .logo {
        cursor: pointer;
        width: 179px;
        height: 36px;
        justify-self: center;
      }

      .goBackIcon {
        display: none;
        justify-self: start; // keep it on the left

        @media (max-width: 648px) {
          display: block;
        }
      }
    }

    .title {
      margin-top: 32px;
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;

      @media (max-width: 450px) {
        font-size: 20px;
      }
    }

    .login {
      margin-top: 16px;
      font-size: $font-base;
      color: $color-text;

      @media (max-width: 450px) {
        font-size: 14px;
      }

      span {
        color: $color-primary;

        &:hover {
          @include link-hover;
        }
      }
    }

    .textFieldWrapper {
      margin: 24px 0 24px;
      display: flex;
      flex-direction: column;
      gap: 28px;

      p:hover{
        color: $color-primary;
      }
    }
  }

  .password_container {
    position: relative;
  }
  .password_eye {
    position: absolute;
    right: 0;
    top: 35%;
    color: $color-border;
    cursor: pointer;
  }
}

.spinnerContainer{
  width: 100px;
  height: 100px;;
}