.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-repeat: no-repeat;
  height: 100%;

  /* Блок с основной картинкой */
  .imageContens {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5ef;

    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }

  /* Обёртка поверх картинки (скидки, лейблы, кнопки) */
  .wrapperImage {
    position: relative;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background: #f6f5ef;
    // min-height: 432px;

    .discount {
      position: absolute;
      width: 54px;
      height: 31px;
      background-color: #297230;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      top: 0;
      left: 0;
      font-size: 14px;
      font-weight: 400;
      @media (max-width: 450px) {
        font-size: 13px;
      }
    }

    .label {
      position: absolute;
      top: 0;
      left: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      height: 43px;
      font-size: 14px;
      color: white;
      width: 79px;
      background-color: gray;
      z-index: 999;
    }

    .type {
      position: absolute;
      top: 5px;
      right: 10px;
      img {
        width: 20px;
        height: 20px;
      }
    }

    .addToCardWrapper {
      width: 100%;
      position: absolute;
      bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 8px;
      gap: 8px;

      .addToCart {
        cursor: pointer;
        height: 54px;
        border: none;
        width: 95%;
        background-color: white;
        font-weight: 500;
        font-size: 16px;
        transition:
          background-color 0.3s ease,
          color 0.3s ease;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

      .gift {
        height: 54px;
        width: 54px;
        border: none;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #000;
        }
        img {
          width: 23px;
          height: 23px;
        }
      }
    }
    .sizeWrapperContent {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      .size50,
      .size100 {
        color: white;
        width: 57px;
        height: 43px;
        font-size: 14px;
        font-weight: 400;
        border: none;
      }

      .size50 {
        background-color: #0000003d;
      }

      .size100 {
        background-color: #0000001a;
      }
    }
  }

  &:hover {
    .wrapperImage {
      .sizeWrapperContent {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
        pointer-events: none !important;
      }
    }
  }

  &.cardHovered {
    .wrapperImage {
      .sizeWrapperContent {
        display: none !important;
      }
    }
  }

  .info {
    margin-top: 18px;
    display: flex;
    @media (max-width: 450px) {
      flex-direction: column;
      align-items: start;
      margin-top: 12px;
    }

    .txtWrapper {
      text-align: start;

      .name {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
        text-transform: uppercase;
        @media (max-width: 450px) {
          font-size: 14px;
        }
      }
      .desc {
        font-size: 14px;
        font-weight: 300;
        color: #6e6d67;
        margin-bottom: 10px;
        @media (max-width: 450px) {
          font-size: 13px;
        }
      }
    }

    .priceWrapper {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: baseline;

      .oldPrice {
        font-size: 16px;
        text-decoration: line-through;
        color: #6e6d67;
        @media (max-width: 450px) {
          font-size: 14px;
        }
      }

      .price {
        font-size: 16px;
        font-weight: bold;
        color: black;
        @media (max-width: 450px) {
          font-size: 14px;
        }
      }
    }
  }
}
