@use '@/style/variables.scss' as *;
@use '@/style/mixins.scss' as mixins;

.orderCart {
  @include mixins.flex(flex-start, stretch, row, 20px);

  .cartImageWrapper {
    @include mixins.flex(center, center);
    background-color: #f6f5ef;
    width: 100%;
    max-width: 180px;
    height: 180px;

    @media (max-width: 450px) {
      width: 88px;
      height: 88px;
    }

    .kremImage {
      width: 442px;
      height: 452px;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      display: block;
      margin: 0;

      @media (max-width: 450px) {
        width: 100%;
        height: auto;
        aspect-ratio: 442 / 452;
        object-fit: cover;
      }
    }
  }

  .cardInfoWrapper {
    @include mixins.flex(space-between, stretch, column);
    width: 100%;

    .top {
      @include mixins.flex(space-between, flex-start, row, 8px);

      .texts {
        @include mixins.flex(flex-start, stretch, column, 4px);

        .name {
          font-family: 'Avenir Next', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          text-transform: uppercase;
          color: #000000;

          @media (max-width: 450px) {
            font-size: 13px;
            line-height: 18px;
          }
        }

        .size {
          @include mixins.font(14px, 400, #6e6d67);

          @media (max-width: 450px) {
            @include mixins.font(12px, 400, #6e6d67);
          }
        }
      }

      .discount {
        @include mixins.flex(center, center);
        background-color: #297230;
        min-width: 54px;
        height: 43px;
        @include mixins.font(14px, 500, #fff);
      }
    }

    .bottom {
      @include mixins.flex(space-between, center, row, 8px);

      .count {
        @include mixins.font(16px, 600);

        @media (max-width: 450px) {
          @include mixins.font(13px, 600);
        }
      }

      .price {
        font-family: 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #000000;

        @media (max-width: 450px) {
          font-size: 13px;
        }
      }

      .surprise {
        @include mixins.flex(center, center);
        background-color: #ff4766;
        width: 92px;
        height: 43px;
        @include mixins.font(14px, 500, #fff);
      }

      .price {
        @include mixins.flex(flex-start, center, row, 10px);

        .priceOld {
          @include mixins.price-old();
        }

        .priceNew {
          @include mixins.font(20px, 600);
        }
      }
    }

    .reviewButton {
      margin-top: 12px;
      align-self: flex-end;
      width: 200px;
      height: 40px;
      padding: 0;
      background: #000;
      color: #fff;
      border: 1px solid transparent; // To prevent layout shift on hover
      border-radius: 50px;
      font-size: 15px;
      font-weight: 500;
      text-transform: none; // It was not uppercase in addComment
      cursor: pointer;
      font-family: 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
      transition: all 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
      }

      @media (max-width: 450px) {
        margin-top: 10px;
        width: 140px;
        height: 32px;
        font-size: 12px;
      }
    }
  }
}