// Colors
$white: #ffffff;
$black: #000000;
$green-297: #297230;
$color-secondary: #9333ea;
$gray-6e: #6e6d67;
$gray-a3: #a3a3a3;
$red-ff: #ff4766;
$red-line: #ff0808;
$bg-light: #f6f5ef;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// fonts
/* === Font Families === */
$font-avenir: 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
$font-oceanic: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
$font-onest: 'Onest', 'Avenir Next', sans-serif;

/* === Font Weights === */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

/* === Button Font Weight === */
$button-font-weight: 500;

/* === Colors === */
$black: #000;
$green-297: #297c3b;
$gray-light: #f5f5f5;

/* === Default font === */
$font-default: $font-onest;
