@use '@/style/variables.scss' as *;

.about {
  padding-top: 200px;
  padding-right: 32px;
  max-width: 1536px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  @media (max-width: 450px) {
    padding-top: 0;
    padding-right: 12px;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 12px;
    }
  }

  .containerMobile {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (max-width: 768px) {
      gap: 12px;
    }
  }

  .title {
    font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
    font-size: 64px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      margin-bottom: 16px;
      padding-right: 50px;
    }
  }

  .textWrapper {
    margin-top: 200px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  .tmobileTxtWrapper {
    margin-top: 20px;
  }

  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #6e6d67;
  }

  .center {
    text-align: center;

    .mainImage {
      width: 100%;
      height: auto;
      border-radius: 6px;
      object-fit: cover;
    }
  }

  .right {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .smallImageWrapper {
      position: absolute;
      right: 0;
      bottom: 220px;
    }

    .link {
      margin-top: 15px;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      @media (max-width: 768px) {
        margin-top: 12px;
      }

      &:after {
        content: '○';
        font-size: 16px;
      }
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .leftTop {
    max-width: 345px;
    p {
      color: #6e6d67;
    }
  }

  .leftBottom {
    display: flex;
    p {
      color: #6e6d67;
      max-width: 261px;
      margin-left: auto;
    }
    img {
      object-fit: contain;
    }
  }

  .mobileBottom {
    display: flex;
    p {
      color: #6e6d67;
    }
    img {
      object-fit: contain;
    }
  }
}

.arrowToRoght {
  width: 42px;
  height: 42px;
}

.more {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  a {
    font-weight: $button-font-weight;
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    &:hover {
      color: #297230;
    }
    p {
      margin: 0;
      font-weight: $button-font-weight;
      font-size: 16px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.mobileMore {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  @media (max-width: 450px) {
    margin-top: 20px;
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    &:hover {
      color: #297230;
    }
    p {
      margin: 0;
      font-weight: $button-font-weight;
      font-size: 16px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}
@media (max-width: 1265px) {
  .about .text {
    font-size: 15px;
  }
}

@media (max-width: 1150px) {
  .about .right .smallImageWrapper {
    bottom: 280px;
  }
}

@media (max-width: 1100px) {
  .about .text {
    font-size: 14px;
  }
}

@media (max-width: 1050px) {
  .about .container {
    gap: 10;
  }
}

  @media (max-width: 470px) {
    .about .title {
      font-size: 24px;
    }

    .about .containerMobile .center img {
      width: 100%;
      height: 405px;
    }
  }
