.menuContainer {
  width: 100%;
  display: flex;

  @media (max-width: 450px) {
    flex-direction: column;
  }

  .menuMobileHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 12px;
    height: 52px;

    img:first-child {
      grid-column: 1; 
    }

    img:last-child {
      grid-column: 2; 
      justify-self: center;
    }
  }

  .left {
    width: 577px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 450px) {
      padding: 20px 12px;
      width: 100%;
    }
  }
}