.menuContainer {
  width: 100%;
  display: flex;

  @media (max-width: 450px) {
    flex-direction: column;
  }

  .menuMobileHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 12px;
    height: 52px;

    img:first-child {
      grid-column: 1; 
    }

    img:last-child {
      grid-column: 2; 
      justify-self: center;
    }
  }

  .left {
    width: 33%;
    flex-shrink: 0;
    max-height: 100vh;
    overflow-y: auto;
    padding: 32px 200px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 450px) {
      padding: 32px 32px;
      max-width: none;
      width: 100%;
    }
  }
}