.etapsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  .etaps {
    display: flex;
    justify-content: space-between;
    .etap {
      display: flex;
      align-items: start;
      gap: 8px;
      
      @media (max-width: 450px) {
        gap: 0px;
      }
      
      .etapTextWrapper {
        .etapTitle {
          font-weight: 600;
          font-size: 16px;
          @media (max-width: 450px) {
            font-size: 13px;
          }
        }
        .etapName {
          color: #6e6d67;
          font-family: 300;
          font-size: 16px;
          @media (max-width: 450px) {
            font-size: 13px;
            line-height: 1.2;
          }
          @media (max-width: 956px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
