.footer {
  height: 500px;
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 100px;
  margin-bottom: 16px;

  &.footerPaddingX32 {
    padding-left: 32px;
    padding-right: 32px;

    @media (max-width: 1100px) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (max-width: 420px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &.footerPaddingRight32 {
    padding-right: 32px;

    @media (max-width: 1100px) {
      padding-right: 32px;
    }

    @media (max-width: 420px) {
      padding-right: 32px;
    }
  }

  @media (max-width: 1290px) {
    gap: 50px;
  }

  @media (max-width: 1100px) {
    gap: 25px;
  }

  @media (max-width: 1100px) {
    padding: 0 12px;
  }

  @media (max-width: 480px) {
    margin-bottom: 0;
    height: 420px;
  }

  @media (max-width:420px) {
    padding: 0;
  }

  .supportColumn {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .supportLegal {
      font-family: 'Onest', 'Avenir Next', sans-serif;
      font-size: 12px;
      color: #6e6d67;
      margin: 0;
      line-height: 1.4;
    }
  }

  .footerBottomLink {
    font-size: 14px;
    color: #6e6d67;
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;

    &:hover {
      color: #297230;
      text-decoration: underline;
    }
  }

  .footerMobile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width:656px) {
      justify-content: space-between;
      height: 100%;
    }
    .mobileContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // gap: 10px;

      .mobileLeft {

        .bimoTxtMobile {
          position: absolute;
          bottom: 20px;
          text-decoration: none;

          @media (max-width: 656px) {
            bottom: 175px;
            font-family: 'Bimbo', 'Avenir Next', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #9747ff;
            transform: rotate(-10.45deg);
          }

          @media (max-width: 360px) {
            font-size: 16px;
          }
          
          &:hover {
            text-decoration: underline;
          }
        }

        .lineToMobile {
          position: absolute;
          bottom: 30px;
          left: 30px;
        }

      }

      .mobileRight {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .footerBottomMobile {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 480px) {
        margin-top: 20px;
      }

      p {
        color: #6e6d67;
        font-size: 14px;
      }
    }
  }

  .footerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .footerBgImage {
      width: 540px;
      height: 260px;
      object-fit: cover;
      object-position: center;
    }

    @media (max-width: 1290px) {
      width: 420px;
    }

    @media (max-width: 1100px) {
      width: 400px;
    }

    @media (max-width: 1040px) {
      width: 380px;
    }
  }

  .footerRightWrapper {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .footerRight {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 80px;
    }

    .footerBottom {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 24px;

      @media (max-width:1024px) {
        justify-content: space-between;
      }

      .fotterBottmotxt {
        font-size: 14px;
        color: #6e6d67;
      }

      .bimoTxt {
        position: absolute;
        left: -90px;
        top: -150px;
        transform: rotate(-10deg);
        font-family: 'Bimbo', 'Avenir Next', sans-serif;
        font-size: 22px;
        color: #9747ff;
        font-weight: 400;

        @media (max-width:1024px) and (min-width: 657px) {
          transform: rotate(10deg);
          left: 40px;
          top: -150px;
        }

        @media (max-width:656px) {
          left: -90px;
          top: -150px;
          transform: rotate(-10deg);
        }
      }

      .lineTo {
        position: absolute;
        left: -10px;
        top: -100px;
        width: 80px;
        height: 100px;

        @media (max-width:1024px) and (min-width: 657px) {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          left: 40px;
        }

        @media (max-width:656px) {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          left: -10px;
          top: -100px;
        }
      }
    }
  }
}