@use '@/style/variables.scss' as *;

.articlesDetails {
  min-height: 100vh;
  background-color: $white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* Скрываем скроллбар */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  max-width: 1536px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;

  .titleContainer {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 64px;
    @media (max-width: 450px) {
      margin-bottom: 24px;
    }
    .goBackWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      .back {
        width: 19px;
        height: 22px;
      }
      .goBackText {
        font-size: 14px;
      }
    }

    .title {
      font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
      max-width: 768px;
      font-weight: 300;
      font-size: 48px;
      margin-top: 16px;
      text-transform: uppercase;
      @media (max-width: 450px) {
        margin-top: 8px;
        font-size: 32px;
      }
    }
    .userWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .userInfo {
        .userName {
          font-size: 15px;
          font-weight: 500;
          @media (max-width: 450px) {
            font-size: 13px;
          }
        }
        .userRole {
          font-size: 14px;
          color: #6e6d67;
          @media (max-width: 450px) {
            font-size: 12px;
          }
        }
      }
    }
  }

  .articleHeroImage {
    width: 1098px;
    max-width: 100%;
    height: 660px;
    margin: 0 auto 60px;
    @media (max-width: 1100px) {
      width: 100%;
      height: auto;
      aspect-ratio: 1098 / 660;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .descContainer {
    margin: 0 auto;
    margin-bottom: 94px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 768px;
    @media (max-width: 450px) {
      gap: 16px;
      margin-top: 24px;
      margin-bottom: 40px;
    }

  }
  .bottomPart {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
}
