@use '@/style/variables.scss' as *;

.navRight {
  display: flex;
  align-items: center;
  gap: 48px;
  div {
    position: relative;
    text-decoration: none;
    color: $black;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition:
      color 0.3s ease,
      transform 0.3s ease;
  }
  a {
    position: relative;
    text-decoration: none;
    color: $black;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    // underline animation
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1.5px;
      background-color: $green-297;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $green-297;
      transform: translateY(-2px);
    }

    &:hover::after {
      width: 100%;
    }
  }

  // Убираем лишний отступ у последнего элемента
  > *:last-child {
    margin-right: 0;
  }
}

.favorites {
  display: flex;
  align-items: center;
  cursor: pointer;

  a {
    position: relative;
    color: $black;
    font-size: 14px;
    text-transform: uppercase;
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1.5px;
      background-color: $green-297;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $green-297;
      transform: translateY(-2px);
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.basket {
  display: flex;
  align-items: center;
  cursor: pointer;

  a {
    position: relative;
    color: $black;
    font-size: 14px;
    text-transform: uppercase;
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1.5px;
      background-color: $green-297;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $green-297;
      transform: translateY(-2px);
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.cartCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green-297;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 11px;
  margin-left: 6px;
  font-weight: 500;
}

.hideCartCount {
  display: none;
}

.favoritesCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green-297;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 11px;
  margin-left: 6px;
  font-weight: 500;
}

.hideFavoritesCount {
  display: none;
}
.searchButton {
  position: relative;
  text-transform: uppercase;
  color: $black;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.3s ease;

  // underline animation
  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: $green-297;
    transition: width 0.3s ease;
  }

  &:hover {
    color: $green-297;
    transform: translateY(-2px);
  }

  &:hover::after {
    width: 100%;
  }
}
.basketMobile {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: $black;
    font-size: 14px;
    text-transform: uppercase;
  }

  .cartCount {
    margin-left: 4px;
  }
}

/* адаптив */
@media (max-width: 1024px) {
  .navRight {
    gap: 28px;
    margin-right: 32px;
  }
}

@media (max-width: 932px) {
  .navRight {
    gap: 12px;
    margin-right: 16px;
  }
}
