@use '@/style/variables.scss' as *;
@use '@/style/mixins.scss' as mixins;

.right {
  width: 50%;
  padding: 32px 32px 32px 32px;
  border-left: 1px solid #6e6d6799;
  overflow-y: auto;

  @include mixins.hide-scrollbar;

  @media (min-width: 957px) {
    height: 100%;
    min-height: 0;
  }

  @include mixins.respond(laptop) {
    padding: 24px 32px 24px 32px;
  }

  .listWrapper {
    @include mixins.flex(flex-start, stretch, column, 16px);

    .orderCart {
      @include mixins.flex(flex-start, stretch, row, 20px);

      .cartImageWrapper {
        @include mixins.flex(center, center);
        background-color: #f6f5ef;
        width: 100%;
        max-width: 180px;
        height: 180px;

        .kremImage {
          width: 442px;
          height: 452px;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          display: block;
          margin: 0;
        }
      }

      .cardInfoWrapper {
        @include mixins.flex(space-between, stretch, column);
        width: 100%;

        .top {
          @include mixins.flex(space-between, flex-start, row, 8px);

          .texts {
            @include mixins.flex(flex-start, stretch, column, 4px);

            .name {
              font-family: 'Avenir Next', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              text-transform: uppercase;
              color: #000000;
            }

            .size {
              font-family: 'Avenir Next', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              color: #6e6d67;
            }
          }

          .discount {
            @include mixins.flex(center, center);
            background-color: #297230;
            min-width: 54px;
            height: 43px;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
          }
        }

        .bottom {
          @include mixins.flex(space-between, center, row, 8px);

          .count {
            @include mixins.font(16px, 400);
          }

          .surprise {
            @include mixins.flex(center, center);
            background-color: #ff4766;
            width: 92px;
            height: 43px;
            @include mixins.font(14px, 500, #fff);
            color: #ffffff;
          }

          .price {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: 0;
            gap: 6px;
            min-width: 113px;
            height: 20px;
            flex-shrink: 0;
            white-space: nowrap;
            margin-left: auto;

            .priceOld {
              position: relative;
              min-width: auto;
              height: 20px;
              font-family: 'Onest', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              text-transform: uppercase;
              color: #6e6d67;
              margin: 0;
              white-space: nowrap;

              &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 0;
                left: -4.5px;
                top: 7px;
                border: 1px solid #ff0808;
                transform: rotate(-11.31deg);
              }
            }

            .priceNew {
              min-width: auto;
              height: 20px;
              font-family: 'Onest', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              text-transform: uppercase;
              color: #000000;
              margin: 0;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .promoInputWrapper {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .promoInput {
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #6e6d67;
    border-radius: 4px;
    font-size: 14px;
    font-family: inherit;

    &:focus {
      outline: none;
      border-color: #000;
    }
  }

  .promoApplyBtn {
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;

    &:hover:not(:disabled) {
      background: #333;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .sertificatWrapper {
    margin-top: 32px;
    @include mixins.flex(space-between, flex-start, column, 10px);

    .promoWrapper {
      width: 100%;
      @include mixins.flex(space-between, flex-start);

      .promoWrapperLeft {
        @include mixins.flex(flex-start, center, row, 8px);
        width: 100%;

        .promoTxt {
          @include mixins.font(15px, 500);
        }
      }
    }

    .SALE {
      @include mixins.font(15px, 400);
    }
  }

  .discountPromo {
    margin-top: 12px;
    padding: 10px 0;
    border-top: 1px solid #6e6d67;

    p {
      color: #6e6d67;
    }
  }

  .sectionSumDiscount {
    @include mixins.flex(flex-start, stretch, column, 10px);
    margin-bottom: 32px;

    .sumWrapper {
      @include mixins.flex(space-between, center);

      .sum {
        @include mixins.flex(flex-start, center, row, 10px);
        @include mixins.font(20px, 600);
      }

      .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        gap: 6px;
        min-width: 113px;
        height: 20px;
        flex-shrink: 0;
        white-space: nowrap;
        margin-left: auto;

        .priceOld {
          position: relative;
          min-width: auto;
          height: 20px;
          font-family: 'Onest', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          color: #6e6d67;
          margin: 0;
          white-space: nowrap;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            left: -4.5px;
            top: 7px;
            border: 1px solid #ff0808;
            transform: rotate(-11.31deg);
          }
        }

        .priceNew {
          min-width: auto;
          height: 20px;
          font-family: 'Onest', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          text-transform: uppercase;
          color: #000000;
          margin: 0;
          white-space: nowrap;
        }
      }
    }

    .discountWrapper,
    .promocodeWrapper {
      @include mixins.flex(space-between, center);

      .name {
        @include mixins.font(15px, 500);
      }

      .value {
        font-family: 'Onest', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #ff4766;
        margin: 0;
        white-space: nowrap;
      }
    }
  }

  .infoWrapper {
    padding: 20px 0;
    border-top: 1px solid #6e6d67;
    border-bottom: 1px solid #6e6d67;
    @include mixins.flex(flex-start, flex-start, column);

    .userWrapper {
      @include mixins.flex(center, center, row, 10px);

      .userInfo {
        .userName {
          @include mixins.font(15px, 500);

          @include mixins.respond(mobile) {
            font-size: 13px;
          }
        }

        .userRole {
          @include mixins.font(14px, 400, #6e6d67);

          @include mixins.respond(mobile) {
            font-size: 12px;
          }
        }
      }
    }

    .textsWrapper {
      margin-top: 12px;
      @include mixins.flex(flex-start, flex-start, column, 12px);

      .text {
        @include mixins.font(14px, 400);

        span {
          color: #297230;
        }
      }

      .dynamicContent {
        p {
          @include mixins.font(14px, 400);
          margin-bottom: 12px;
          margin-top: 0;

          &:last-child {
            margin-bottom: 0;
          }

        }
      }
    }
  }
}