@use '@/style/variables.scss' as *;

.reviewsContainer {
  width: 100%;
  padding-top: 250px;
  padding-right: 32px;
  max-width: 1536px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 450px) {
    padding-top: 0;
    padding-bottom: 100px;
    padding-right: 12px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .allWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    p {
      font-weight: $button-font-weight;
      font-size: 16px;
    }
  }

  .titleWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 16px;

    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      margin-bottom: 16px;
    }
    .title {
      font-family: 'Oceanic', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 64px;
      text-align: start;
      @media (max-width: 450px) {
        font-size: 24px;
      }
    }
    .setReview {
      font-family: 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      color: black;
      font-weight: $button-font-weight;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 20px;
      white-space: nowrap;
      border-bottom: none;
      text-decoration: none;
      
      &:hover {
        color: #297230;
      }
    }
  }
}
