.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;

}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin-bottom: 4px;
}

.inputRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6e6d6799;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 12px;

  background: transparent;
  @media (max-width: 450px) {
    font-size: 13px;
  }

  &::placeholder {
    color: #6e6d67;
  }
}

.button {
  background: none;
  border: none;
  color: #6e6d67;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 12px;
  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.passwordDisplay {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 4px;
  height: 24px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #6e6d67;
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.2s ease;
}
