.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem;
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
    color: #6e6d67;
  }
}
